extends layout

block content

  h1 ID: #{bookinstance._id}
  
  p #[strong Otsikko:] 
    a(href=bookinstance.kirja.url) #{bookinstance.kirja.otsikko}
  p #[strong Toiminimi:] #{bookinstance.toiminimi}

  p #[strong Tila:] 
    if bookinstance.tila==='Saatavilla'
      span.text-success #{bookinstance.tila}
    else if bookinstance.tila==='Huollossa'
      span.text-danger #{bookinstance.tila}
    else
      span.text-warning #{bookinstance.tila} 
      
  if bookinstance.tila!='Saatavilla'
    p #[strong Palautettava:] #{bookinstance.palautettava_format}
    
  p #[strong Haluatko varmasti poistaa kyseisen kirjakopion?]
    form(method='POST' action='')
      div.form-group
        input#bookinstanceid.form-control(type='hidden',name='bookinstanceid', required='true', value=bookinstance._id )

      button.btn.btn-primary(type='submit') Poista