extends layout

block content
  h1= title

  ul
    each bookinstance in bookinstanceList
      li 
        a(href=bookinstance.url) #{bookinstance.kirja.otsikko} : #{bookinstance.toiminimi} - 
        if bookinstance.tila==='Saatavilla'
          span.text-success #{bookinstance.tila}
        else if bookinstance.tila==='Huollossa'
          span.text-danger #{bookinstance.tila}
        else
          span.text-warning #{bookinstance.tila} 
        if bookinstance.tila!='Saatavilla'
          span  (Palautettava: #{bookinstance.palautettava_format} )

    else
      li Kirjasta ei ole kopioita tässä kirjastossa.