extends layout

block content

  h1 luokka: #{genre.luokan_nimi}
  
  div(style='margin-left:20px;margin-top:20px')

    h4 Kirjat
    
    dl
    each book in genreBooks
      dt 
        a(href=book.url) #{book.otsikko}
      dd #{book.tiivistelma}

    else
      p T채ss채 luokassa ei ole kirjoja
  hr
  p
    a(href=genre.url+'/delete') Poista luokka
  p
    a(href=genre.url+'/update') P채ivit채 luokka